* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#canvas1 {
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

#player-img {
    display: none;
}

#layer-1,
#layer-2,
#layer-3,
#layer-4,
#layer-5 {
    display: none;
}

#enemy-fly,
#enemy-plant,
#enemy-spider-big {
    display: none;
}

#fire-img,
#collision-anim {
    display: none;
}

#lives {
    display: none;
}
